@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Portal.Layout
<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<Authorizing>
					Please wait, we are authorizing you.
				</Authorizing>
				<NotAuthorized>
					@if ( context.User.Identity?.IsAuthenticated != true )
					{
						<RedirectToLogin />
					}
					else
					{
						<h1>Oops, You Do Not Have Access</h1>
						<p role="alert">
							The page or component you are trying to reach requires
							you to have more permissions than you currently do. Please
							contact the administrator if you think you have reached
							this page in error.
						</p>
					}
				</NotAuthorized>
			</AuthorizeRouteView>
			<FocusOnNavigate RouteData="@routeData" Selector="h1" />
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
